model:
  class_path: modules.SegDINOModule
  init_args:
    num_classes: 1
    dino_size: small
    freeze_backbone: true

optimizer:
  class_path: torch.optim.AdamW
  init_args:
    lr: 0.0001
    weight_decay: 0.0001

trainer:
  precision: "16-mixed"
  # Callbacks https://lightning.ai/docs/pytorch/latest/extensions/callbacks.html
  callbacks:
    # https://lightning.ai/docs/pytorch/latest/api/lightning.pytorch.callbacks.ModelCheckpoint.html#lightning.pytorch.callbacks.ModelCheckpoint
    - class_path: callbacks.FixedModelCheckpoint
      init_args:
        filename: epoch={epoch:02d}-val_f1={val/dice:.4f}
        monitor: val/dice
        verbose: true
        save_last: true
        save_top_k: 1
        mode: max
        auto_insert_metric_name: false
        save_torchscript: true
    # https://lightning.ai/docs/pytorch/latest/api/lightning.pytorch.callbacks.EarlyStopping.html#lightning.pytorch.callbacks.EarlyStopping
    - class_path: EarlyStopping
      init_args:
        monitor: val/dice
        min_delta: 0.001
        patience: 20
        verbose: true
        mode: max
        strict: true